<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery food</title>
    <link rel="stylesheet"  th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <div th:insert="~{fragments/header :: header}"></div>

</header>
<h1> Создать новый заказ </h1>
<br>

<form th:method="post" th:action="@{/order/save-or-update-order-step1}"  th:object="${order}">
    <input type="hidden" th:value="${order.id}" >
    <h2>Выберите ресторан из которого хотите сделать заказ</h2>
    <br>
    <select id="restaurantId" name="restaurantId">
        <option th:each="restaurant : ${restaurants}" th:value="${restaurant.id}" th:text="${restaurant.name}"></option>
    </select>
    <br>  <br>

    <input type="submit" value="Далее">



<br> <br>

</form>

</body>
</html>